# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science
- List of popular libraries for Data Science
- List of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. scikit-learn

| Data Science Tools |
|----------|
| Jupyter Notebooks |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python 
1. +
2. - 
3. *

In [4]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Mohamed Yehia Mohamed Abdelhalim Elhusseiny